{{template "base" .}}

{{block "answer" .}}
{{if .Answer}}
{{if .Passed}}
<p> That's the right answer! you may proceed to the next level :)</p>
<a href="/puzzles/level{{.NextLevel}}" class="underline text-yellow-300 hover:text-yellow-200 transition">
  Click here to go to Level {{.NextLevel}}
</a>
{{else if .Failed}}
<p> That's the wrong answer ;( </p>
<p> Make sure you are using all of the input</p>
<a href="/puzzles/level{{.Level}}" class="underline text-yellow-300 hover:text-yellow-200 transition">Click here to try again</a>
{{else if .Cooldown}}
<p>Too many attempts, you will need to wait for some time to submit more answers :(</p>
{{end}}
{{end}}
{{end}}
