{{block "leaderboard-table" .}}
<div class="leaderboard-box">
    <ul>
        {{if .StreakRune}}
        {{range .StreakRune}}
       <li>{{.Username}} | {{.Streak}} | {{.GithubUrl}}</li>
        {{else}}
        Loading ...
        {{end}}
        {{end}}

        {{if .FlashRune}}
        {{range .FlashRune}}
        <li>{{.LevelId}} | {{.Username}} | {{.TimeTaken}}</li>
        {{else}}
        Loading ...
        {{end}}
        {{end}}

        {{if .ChampionRune}}
        {{range .ChampionRune}}
        <li>{{.Username}} | {{.CurrentLevel}} | {{.GithubUrl}}</li>
        {{else}}
        Loading ...
        {{end}}
        {{end}}
    </ul>
</div>
{{end}}
