{{define "leaderboard"}}
{{template "base" .}}
{{end}}

{{define "leaderboardContent"}}
{{if .Leaderboard}}
<h2>Leaderboard: Streak</h2>
<div id="streak-leaderboard"
     hx-get="/leaderboard/live/streak"
     hx-swap="innerHTML"
     hx-trigger="load, every 3s">
    <div class="htmx-indicator">Loading...</div>
</div>

<h2>Leaderboard: Flash</h2>
<div id="flash-leaderboard"
     hx-get="/leaderboard/live/flash"
     hx-swap="innerHTML"
     hx-trigger="load, every 5s">
    <div class="htmx-indicator">Loading...</div>
</div>

<h2>Leaderboard: Streak</h2>
<div id="streak-leaderboard"
     hx-get="/leaderboard/live/champion"
     hx-swap="innerHTML"
     hx-trigger="load, every 3s">
    <div class="htmx-indicator">Loading...</div>
</div>
{{end}}
{{end}}
